{% extends 'base.tmpl' %}


{% block content %}


<div class="alert alert-info"  role="alert">
    <p class="text-center">
     <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>        <strong>node {{ leader }}</strong>
    </p>
</div>



	<div class="container text-center">
      <div class="row">
        <div class="col"></div>
        <div class="col-5">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th colspan="4">Account id</th>
                  <th scope="col">Balance</th>
                </tr>
              </thead>
              <tbody>
    {% for row in rows %}
      	        <tr>
                  <th colspan="4">{{ row.account_id }}</th>
                  <td scope="col">{{ row.balance }}</td>


	            </tr>
    {% endfor %}
            </tbody>
	        </table>
        </div>
        <div class="col"></div>
    </div>
{% endblock %}