apiVersion: apps/v1
kind: Deployment
metadata:
  name: banking-{{ number }}
spec:
  replicas: 1
  selector:
    matchLabels:
      app: banking-{{ number }}
  template:
    metadata:
      labels:
        app: banking-{{ number }}
    spec:
      volumes:
        - name: google-cloud-key
          secret:
            secretName: banking-key
      containers:
        - name: app
          image: europe-central2-docker.pkg.dev/{{ project_id }}/banking-repo/node-app:latest
          ports:
            - containerPort: 8080
          env:
            - name: PORT
              value: "8080"
            - name: GOOGLE_APPLICATION_CREDENTIALS
              value: /var/secrets/google/key.json
            - name: HOSTNAME
              value: "banking-{{ number }}"
          volumeMounts:
            - name: google-cloud-key
              mountPath: /var/secrets/google
        - name: paxos
          image: europe-central2-docker.pkg.dev/{{ project_id }}/banking-repo/node-paxos:latest
          ports:
            - containerPort: 8000
          env:
            - name: PORT
              value: "8000"
            - name: GOOGLE_APPLICATION_CREDENTIALS
              value: /var/secrets/google/key.json
            - name: HOSTNAME
              value: "banking-{{ number }}"
            - name: NODES_COUNT
              value: {{ count }}
          volumeMounts:
            - name: google-cloud-key
              mountPath: /var/secrets/google
---
apiVersion: v1
kind: Service
metadata:
  name: banking-paxos-{{ number }}
spec:
  selector:
    app: banking-{{ number }}
  ports:
    - port: 80
      targetPort: 8000
---
